
<h1>Most Rated Movies</h1>
<ul>
    {% for movie in 5_most_rated %}
        <li><a href="{% url 'movies:movies.movie_detail' movie.id %}">{{ movie.title }} (Rated {{ movie.ratings }} times)</a></li>
    {% endfor %}
</ul>

<h1>Best Rated Movies</h1>
<ul>
    {% for movie in 5_highest_rated %}
    <li><a href="{% url 'movies:movies.movie_detail' movie.id %}">{{ movie.title }} (Rated {{ movie.scores|floatformat:2 }})</a></li>
    {% endfor %}
</ul>

<h1>Movie List</h1>
<ul>

    {%  for movie in movie_list %}
    <li>
        <a href="{% url 'movies:movies.movie_detail' movie.id %}">{{ movie.title }}</a>
    </li>
    {% endfor %}

</ul>